params.projDir="${projectDir}"

// ############# profiles #############
profiles {
    conda {
	conda.enabled = true
    conda.useMamba = true
	process {
		withLabel: 'gpu' {
				clusterOptions = '-p gpu --gres=gpu:1'
		}
		withName: 'SUBSAMPLE' {
			conda = "${projectDir}/envs/rasusa.yml"
	    }
		withName: 'ASSEMBLE' {
			conda = "${projectDir}/envs/flye.yml"
	    }
		withName: 'SEQKIT' {
			conda = "${projectDir}/envs/seqkit.yml"
	    }
		withName: 'POLISH' {
			conda = "${projectDir}/envs/medaka.yml"
	    }
		withName: 'BAKTA_DOWNLOAD' {
			conda = "${projectDir}/envs/bakta.yml"
	    }
		withName: 'BAKTA' {
			conda = "${projectDir}/envs/bakta.yml"
	    }
		withName: 'PROKKA' {
			conda = "${projectDir}/envs/prokka.yml"
	    }
		withName: 'ROARY' {
			conda = "${projectDir}/envs/roary.yml"
	    }
		withName: 'SPADES' {
			conda = "${projectDir}/envs/spades.yml"
	    }
		withName: 'MLST' {
			conda = "${projectDir}/envs/mlst.yml"
	    }
		withName: 'DNADIFF' {
			conda = "${projectDir}/envs/dnadiff.yaml"
		}
		withLabel: 'PARSE_DD_REPORT' {
			conda = "${projectDir}/envs/pandas.yaml"
		}
		withName: 'DNAAPLER' {
			conda = "${projectDir}/envs/dnaapler.yml"
		}
	}
    }
	bmrc {
		process.executor = 'slurm'
		process.queue = 'short'
		process {
			withName: 'BAKTA_DOWNLOAD' {
				executor = 'local'
		 }
		 	withLabel: 'online' {
				executor = 'local'
		 }
		}
	}
}

// ########### processes ###############

process.errorStrategy = 'ignore'

