params.projDir="${projectDir}"

// ############# profiles #############
profiles {
    conda {
	conda.enabled = true
    conda.useMamba = true
	process {
		conda = "${projectDir}/environment.yml"
	    }
    }
}

// ########### processes ###############

process.errorStrategy = 'ignore'

process {
		withLabel: 'medaka' {
				clusterOptions = '-p gpu --gres=gpu:1'
		}
}